# =====================
# Fichier .env exhaustif pour Memgraph (toutes les variables supportées, commentées si non utilisées)
# =====================

# =====================
# Authentification
# =====================
# MEMGRAPH_USER:
#	Specifies the username for connecting to Memgraph.
# If the user does not exist, a new one is created with this username.
# Manual entry of credentials is always necessary when accessing Memgraph using Memgraph Lab.	[string]
MEMGRAPH_USER=admin

# MEMGRAPH_PASSWORD:
# Specifies the password for the user.
# If creating a new user, this password is assigned.
# For existing users, this setting does not change the password.
# Manual entry of credentials is always necessary when accessing Memgraph using Memgraph Lab.	[string]
MEMGRAPH_PASSWORD=adminpassword

# MEMGRAPH_PASSFILE:
#	Path to the file that contains the username and password for creating a user.
#	Data in the file should be in the format username:password.
#	If your username or password contains :, add \ before it, for example, us\:ername:password.	[string]
# MEMGRAPH_PASSFILE=

# =====================
# Configuration
# =====================
# MEMGRAPH_CONFIG:
#	Path to the additional configuration file.	[string]
# MEMGRAPH_CONFIG=/etc/memgraph/memgraph.conf

# MEMGRAPH_MANAGEMENT_PORT:
#	Port on which data instance management servers or the coordinator management server will be started.	[int]
# MEMGRAPH_MANAGEMENT_PORT=

# MEMGRAPH_COORDINATOR_PORT:
#	Port on which Raft servers will be started.	[int]
# MEMGRAPH_COORDINATOR_PORT=

# MEMGRAPH_COORDINATOR_ID:
#	Unique ID of the Raft server.	[int]
# MEMGRAPH_COORDINATOR_ID=

# MEMGRAPH_NURAFT_LOG_FILE:
#	Path to the file where NuRaft logs are saved.	[string]
# MEMGRAPH_NURAFT_LOG_FILE=

# MEMGRAPH_COORDINATOR_HOSTNAME:
#	Instance’s hostname. Used as output of the SHOW INSTANCES query.	[string]
# MEMGRAPH_COORDINATOR_HOSTNAME=

# MEMGRAPH_HA_CLUSTER_INIT_QUERIES:
#	Path to the file with queries to initialize the HA cluster.	[string]
# MEMGRAPH_HA_CLUSTER_INIT_QUERIES=

# MEMGRAPH_BOLT_PORT:
#	Bolt port used for Bolt server.	[int]
# MEMGRAPH_BOLT_PORT=7687

# MEMGRAPH_EXPERIMENTAL_ENABLED:
#	List of experimental features which the user wants to use.	[string]
# MEMGRAPH_EXPERIMENTAL_ENABLED=

# =====================
# License
# =====================
# MEMGRAPH_ENTERPRISE_LICENSE:
#	Memgraph enterprise license key.	[string]
# MEMGRAPH_ENTERPRISE_LICENSE=

# MEMGRAPH_ORGANIZATION_NAME:
#	Organization name to which Memgraph license key was issued.	[string]
# MEMGRAPH_ORGANIZATION_NAME=